@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');

body {
    font-family: 'Roboto Flex', sans-serif;
    margin: 0;
}

h1 {
    display: flex;
    justify-content: left;
    margin-left: 30px;
}

.navbar {
    padding: 20px;
    display: flex;
    justify-content: right;
    background-color: #E0E0E0;
}
.navbar a, .navbar strong {
    margin-right: 15px;
}

main {
    padding: 20px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    padding-left: 30px;
}

.photo-section {
    padding-left: 30px;
    padding-top: 10px;
}

ul {
    color: black;
    list-style-type: square;
}

a:hover {
    color: coral;
    text-decoration: none; 
    cursor:pointer;
}